{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{{titlePage}}</title>
</head>
<body>
    <header>
        <div class="el-header" id="main"><a href="/">Главная</a></div>

        {% if auth == False %}
            <div class="el-header"><a href="/auth/">Авторизация</a></div>
        {% elif auth == True and role == "Admin" %}
            <div class="el-header"><a href="/administrator/">Админ панель</a></div>
        {% elif auth == True and role == "Curator" %}
            <div class="el-header"><a href="/curator/">Куратор панель</a></div>
        {% elif auth == True and role == "Teacher" %}
            <div class="el-header"><a href="/create-ref-for-testing/">Создать ссылку</a></div>
        {% endif %}
        {% if auth == True %}
        <div class="el-header"><a href="/auth/exit/">Выйти</a></div>
        {% endif %}
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% if auth == True %}
            Привет, {{name}}
        {% elif isTesting == True %}
            Удачного теста!
        {% endif %}
    </footer>
</body>
</html>