select, option, input
{
	color:black;
}
.content_form>input,label, select, textarea
{
	font-size: 1vw;
}
.content_form
{
	margin-left:7vw;
}
.error
{
	color:red;
	font-size: 1.1vw;
	margin-left: 3vw;
}
.warning
{
	color: #C7CD22;
	font-size: 1.1vw;
	margin-left: 3vw;
}
.info
{
	font-size: 1vw;
	color:#77D4FF;
	margin-top: 5vw;
}
input[type="submit"]
{
	cursor: pointer;
}
.subtitle
{
	font-size: 2.3vw;
	color:#A5A5A5;
}