{% extends 'wrapper.html' %}
{% block content %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'administrator.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

	<div id="titleAdministrator" align="center">Админ панель</div><hr color="#666666" style="margin-bottom: 20px;">

	<!--Навигация-->
	<div id="selectActionForm" align="right">
		<div id="navigration" align="right" style="margin-right: 1.5vw">Навигация</div>

		<form action="" method="post">
			{% csrf_token %}
			<select name="select" id="id_select">
	  			<option value="0" selected="selected" hidden="hidden">Выбирите действие</option>
			  	<option value="1">Добавить куратора</option>
			  	<option value="2">Добавить школу</option>
			  	<option value="3">Открыть сезон тестирования</option>
			  	<option value="4">Добавить тест</option>
			 	<option value="5">Посмотреть статистику</option>
			</select><br><br>
			<input type="submit" value="Выбрать" id="id_button_choose" name="button_choose">
		</form>
		<script>
			$("#id_select").val({{current}});
		</script>
	</div>

	<!--Контент-->
	{% if current == "0" %}
	<div style="font-size: 2.8vw; color:red;cursor: default;" align="center">Не выбрано действие!</div>
	{% elif current == "1" %}

	<form action="" method="post" id="content_form">
		{% csrf_token %}
		<div style="font-size: 2.3vw; color:#A5A5A5;">Добавление куратора</div><br>
		<label for="id_name">Имя: </label>
		<input type="text" id="id_name" name="name" maxlength="30"><br><br>
		<label for="id_surname">Фамилия: </label>
		<input type="text" id="id_surname" name="surname" maxlength="50"><br><br>
		<label for="id_email">Почта: </label>
		<input type="text" id="id_email" name="email" maxlength="100"><br><br>
		<input type="submit" value="Зарегистрировать" name="addCuratorButton">
	</form>

	{% elif current == "2" %}

	<form action="" method="post" id="content_form">
		{% csrf_token %}
		<div style="font-size: 2.3vw; color:#A5A5A5">Добавление школы</div><br>
		<label for="id_number">Номер школы: </label>
		<input type="text" id="id_number" name="number" maxlength="30"><br><br>
		<input type="submit" value="Добавить" name="addSchoolButton">
	</form>

	{% elif current == "3" %}
	Открытие сезона тестирования
	{% elif current == "4" %}
	Добавление теста
	{% elif current == "5" %}
	Просмотр статистики
	{% endif %}


{% endblock %}