{% extends 'wrapper.html' %}
{% block content %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'administrator.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

	<div id="titleAdministrator" align="center">Админ панель</div><hr color="#666666" style="margin-bottom: 20px;">

	<!--Навигация-->
	<div id="selectActionForm" align="right">
		<div id="navigration" align="right" style="margin-right: 1.5vw">Навигация</div>

		<form action="" method="post">
			{% csrf_token %}
			<select name="select" id="id_select">
	  			<option value="0" selected="selected" hidden="hidden">Выбирите действие</option>
			  	<option value="1">Добавить куратора</option>
			  	<option value="2">Удалить куратора</option>
			  	<option value="3">Добавить школу</option>
			  	<option value="4">Удалить школу</option>
			  	<option value="5">Добавить тест</option>
			  	<option value="6">Добавить/изменить вопросы</option>
			  	<option value="7">Удалить тест</option>
			  	<option value="8">Открыть сезон тестирования</option>
			  	<option value="9">Закрыть сезон тестирования</option>
			 	<option value="10">Посмотреть статистику</option>
			</select><br><br>
			<input type="submit" value="Выбрать" id="id_button_choose" name="button_choose">
		</form>
		<script>
			$("#id_select").val({{current}});
		</script>
	</div>

	<!--Контент-->
	{% if current == "0" %}
		<div style="font-size: 2.8vw; color:red;cursor: default;" align="center">Не выбрано действие!</div>
	{% elif current == "1" %}
		
		<!--Добавление куратора-->
		<form action="" method="post" class="content_form">
			{% csrf_token %}
			<div style="font-size: 2.3vw; color:#A5A5A5;">Добавление куратора</div><br>
			<label for="id_name">Имя: </label>
			<input type="text" id="id_name" name="name" maxlength="30"><span class="error">{{error.name}}</span><br><br>
			<label for="id_surname">Фамилия: </label>
			<input type="text" id="id_surname" name="surname" maxlength="50"><span class="error">{{error.surname}}</span><br><br>
			<label for="id_email">Почта: </label>
			<input type="email" id="id_email" name="email" maxlength="100"><span class="error">{{error.email}}</span><br><br>
			<input type="submit" value="Зарегистрировать" name="addCuratorButton">
		</form>


	{% elif current == "2" %}

		<!--Удаление куратора-->

		<form action="" method="post" class="content_form">
			{% csrf_token %}
			<div style="font-size: 2.3vw; color:#A5A5A5">Удалить куратора</div><br>
			<label for="id_number">Выберите куратора для удаления: </label><br>
			<select name="listCuartorsDel" id="id_listCuartorsDel">
				<option value="default" selected="selected" hidden="hidden">Выбирете из списка</option>
				<option value="all">Удалить всех</option>
				{% for key,cur in listCuratorsForDelete.items %}
					<option value="{{key}}">{{cur}}</option>
				{% endfor %}
			</select> <input type="submit" value="Удалить" name="delCuratorButton">
			<span class="error">{{error.listCurator}}</span> <span class="warning">{{warning.all}}</span><br><br>
			
			<div class="info">ПРЕДУПРЕЖДЕНИЕ: кого удалил вернуть можно только заново зарегистрировав</div>
		</form>

	{% elif current == "3" %}

		<!--Добавление школы-->

		<form action="" method="post" class="content_form">
			{% csrf_token %}
			<div style="font-size: 2.3vw; color:#A5A5A5">Добавление школы</div><br>
			<label for="id_number">Номер школы: </label>
			<input type="text" id="id_number" name="number" maxlength="30" placeholder="Например: МБОУ №34"><span class="error">{{error.number}}</span><br><br>
			<input type="submit" value="Добавить" name="addSchoolButton">
		</form>

	{% elif current == "4" %}

		<!--Удаление школы-->
		<form action="" method="post" class="content_form">
			{% csrf_token %}
			<div style="font-size: 2.3vw; color:#A5A5A5">Удалить школы</div><br>
			<label for="id_listSchoolDel">Выберите школу для удаления: </label><br>
			<select name="listSchoolDel" id="id_listSchoolDel">
				<option value="default" selected="selected" hidden="hidden">Выбирете из списка</option>
				{% for key,school in listSchoolForDelete.items %}
					<option value="{{key}}">{{school}}</option>
				{% endfor %}
			</select> <input type="submit" value="Удалить" name="delSchoolButton">
			<span class="error">{{error.listSchool}}</span> <span class="warning">{{warning.all}}</span>
			
		</form>
	
	{% elif current == "5" %}

		<!--Добавление теста-->
		<form action="" method="post" class="content_form">
			{% csrf_token %}
			<div style="font-size: 2.3vw; color:#A5A5A5">Добавление теста</div><br>

			<label for="id_title">Название теста: </label>
			<input type="text" name="title" id="id_title" maxlength="100" placeholder="около 30 символов"><span class="error">{{error.title}}</span><br><br>

			<label for="id_selectClassTest">Выберите тип теста:</label>
			<select name="selectClassTest" id="id_selectClassTest">
				<option value="default" selected="selected" hidden="hidden">Выберите тип</option>
				<option value="junior">Младшие классы</option>
				<option value="senior">Старшие классы</option>
			</select><span class="error">{{error.type_test}}</span><br><br>

			<label for="id_description">Описание теста: </label>
			<textarea id="id_description" name="description" cols="25" rows="4" style="resize: none" placeholder="необязательно"></textarea><br><br>

			<input type="submit" value="Создать" name="addTestButton">
		</form>

	{% elif current == "6" %}
		<!--добавление/изменение вопросов-->
		<form action="" method="post" class="content_form">
			{% csrf_token %}
			<div style="font-size: 2.3vw; color:#A5A5A5">Добавление/изменение вопросов</div><br>
			<label for="id_listTestUpdate">Выберите тест для редактирования: </label><br>
			<select name="listTestUpdate" id="id_listTestUpdate">
				<option value="default" selected="selected" hidden="hidden">Выбирете из списка</option>
				{% for key,test in listTestForUpdate.items %}
					<option value="{{key}}">{{test}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Выбрать" name="addUpdateTestButton"><span class="error">{{error.listTest}}</span>
		</form><br>
		<script>
			$("#id_listTestUpdate").val({{currentTest}});
		</script>

		{% if isSelectedTest == True %}
			{% for quest in listQuestion %}
				<form action="" method="post" class="content_form">
					{% csrf_token %}
					<div class="numberQuestion">Вопрос {{forloop.counter}}:</div><br>
					<textarea name="question" id="id_question" cols="25" rows="6" style="resize: none" placeholder="Вопрос">{{quest.question}}</textarea><br>
					<label for="id_answer">Ответ: </label>
					<input type="text" value="{{quest.answer}}" name="answer" id="id_answer" placeholder="Ответ"><br>
					<input type="hidden" name="currentTest" value="{{currentTest}}">
					<input type="hidden" name="currentQuestion" value="{{quest.id}}">
					<input type="submit" value="Изменить" name="updateQuestionButton">
					<input type="submit" value="Удалить" name="delQuestionButton">
				</form>
			{% endfor %}
			<br>
			<form action="" method="post" class="content_form">
				{% csrf_token %}
				<input type="hidden" name="currentTest" value="{{currentTest}}">
				<input type="submit" value="Добавить вопрос" name="addQuestionButton">
			</form>
		{% endif %}

	{% elif current == "7" %}
	<!--Удалить тест-->
		<form action="" method="post" class="content_form">
			{% csrf_token %}
			<div style="font-size: 2.3vw; color:#A5A5A5">Удаление теста</div><br>
			<label for="id_listTestDel">Выберите тест для удаления: </label><br>
			<select name="listTestDel" id="id_listTestDel">
				<option value="default" selected="selected" hidden="hidden">Выбирете из списка</option>
				{% for key,test in listTestForDel.items %}
					<option value="{{key}}">{{test}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Удалить" name="delTestButton"><span class="error">{{error.delTest}}</span>
		</form>

	{% endif %}


{% endblock %}