{% extends 'wrapper.html' %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'regTeacher.css' %}">
	<form action="" method="post" class="content_form">
		{% csrf_token %}
		<div class="subtitle">Регистрация для учителей</div><br>
		<label for="id_name">Имя: </label>
		<input type="text" id="id_name" name="name" maxlength="30"><span class="error">{{error.name}}</span><br><br>
		<label for="id_surname">Фамилия: </label>
		<input type="text" id="id_surname" name="surname" maxlength="50"><span class="error">{{error.surname}}</span><br><br>
		<label for="id_email">Почта: </label>
		<input type="email" id="id_email" name="email" maxlength="100"><span class="error">{{error.email}}</span><br><br>

		<label for="id_listSchool">Школа: </label>
		<select name="listSchool" id="id_listSchool">
			<option value="default" selected="selected" hidden="hidden">Выберите школу</option>
			{% for id, school in listSchoolForReg.items %}
				<option value="{{id}}">{{school}}</option>
			{% endfor %}
		</select><span class="error">{{error.schoolList}}</span><br><br>

		<label for="id_class">Номер класса: </label>
		<input type="number" name="class" id="id_class" min='2' max='11' value='2'><br><br>

		<label for="id_char">Буква класса: </label>
		<input type="text" id="id_char" name="char" maxlength="1"></span><br><br>

		<label for="id_length">Кол-во учеников: </label>
		<input type="number" name="length" id="id_length" min='1' max='99' value='1'><br><br>

		<label for="id_listCurator">Куратор: </label>
		<select name="listCurator" id="id_listSchool">
			<option value="default" selected="selected" hidden="hidden">Выберите куратора</option>
			{% for id, cur in listCuratorForReg.items %}
				<option value="{{id}}">{{cur}}</option>
			{% endfor %}
		</select><span class="error">{{error.curatorList}}</span><br><br>
		<input type="submit" value="Зарегистрироваться" name="regTeacherButton">
	</form>
{% endblock %}