#titleAdministrator
{
	font-size: 2.6vw;
	color:#BDBDBD;
	cursor: default;
}

select, option, input, textarea
{
	color:black;
}

#navigration
{
	font-size: 2.6vw;
	cursor: default;
}
#id_button_choose
{
	color:black;
	cursor: pointer;
	font-size: 1vw;
	width:10vw;
	margin-right:2.5vw;
}
#id_select
{
	cursor: pointer;
	width:15vw;
	font-size: 1vw;
}
.content_form>input,label, select, textarea
{
	font-size: 1vw;
}
.content_form
{
	margin-left:7vw;
}
.error
{
	color:red;
	font-size: 1.1vw;
	margin-left: 3vw;
}
.warning
{
	color: #C7CD22;
	font-size: 1.1vw;
	margin-left: 3vw;
}
.info
{
	font-size: 1vw;
	color:#77D4FF;
	margin-top: 5vw;
}

input[type="submit"]
{
	cursor: pointer;
}
.numberQuestion
{
	font-size: 1.2vw;
}
.subtitle
{
	font-size: 2.3vw;
	color:#A5A5A5;
}