#titleAdministrator
{
	font-size: 2.6vw;
	color:#BDBDBD;
	cursor: default;
}

select, option, input
{
	color:black;
}

#navigration
{
	font-size: 2.6vw;
	cursor: default;
}
#id_button_choose
{
	color:black;
	cursor: pointer;
	font-size: 1vw;
	width:10vw;
	margin-right:2.5vw;
}
#id_select
{
	cursor: pointer;
	width:15vw;
	font-size: 1vw;
}