#titleAuth
{
    font-size: 1.8em;
    color:rgb(206, 206, 206);
}

input
{
    color: black;
    font-size: 1vw;
}
label
{
	font-size: 1vw;
}

#authButton
{
    font-size: 1.3em;
}

#forTeacher>a
{
	color:#9595EE;
}
.error
{
	color:red;
	font-size: 1.1vw;
	margin-left: 3vw;
}